@model IEnumerable<prjIHealth.ViewModels.COrderViewModel>
@using X.PagedList.Mvc.Core
@using X.PagedList

@{
    ViewData["Title"] = "OrderList";
}
@section Styles{
    <link href="/css//PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /*會員專區導覽列*/
        .blog__btn {
            display: inline-block;
            font-size: 14px;
            color: #1c1c1c;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid #b2b2b2;
            padding: 14px 20px 12px;
            border-radius: 25px;
        }

            .blog__btn:visited {
                color: #1c1c1c;
            }

            .blog__btn:hover {
                border: 1px solid #4F6C24;
                color: #4F6C24;
            }

            .blog__btn:active {
                color: black;
                font-weight: 800;
            }

        .sidebar__item ul li a {
            margin-bottom: 1vh;
        }

        .sidebar__item {
            border: 1px solid lightgray;
            box-shadow: 2px 2px 5px lightgray;
            padding: 20px;
            margin-right: 30px;
            margin-bottom: 20px;
        }

            .sidebar__item h5 {
                text-align: center;
                margin-bottom: 20px;
                padding: 10px;
                background-color: #4F6C24;
                color: white;
            }

            .sidebar__item li:hover {
                transition: .2s;
                background-color: #EFF5E6;
            }

            .sidebar__item i {
                margin-right: 5px;
            }

        .liThis {
            background-color: #EFEDED;
        }

        .btn-success {
            background-color: #7FAD39;
            width:100px;
            color: white;
            border: none;
          
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/banner/banner_mem.png" id="bannerTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2 class="reveal_t1">訂單查詢</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="~/Shopping/ShowShoppingMall">Home</a>
                        <span>Shopping</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            @*會員專區垂直導覽列*@
            <div class="col-lg-3 col-md-5 reveal_b1">
                <div class="sidebar" style="position:sticky;top:150px;">
                    <div class="sidebar__item">
                        <h5>會員專區</h5>
                        <ul>
                            <li><a href="~/member/edit" class="row"><i class="fa-solid fa-user-pen col-2"></i>個人資料</a></li>
                            <li><a href="~/Diary/DiaryMain" class="row"><i class="fa-solid fa-utensils col-2"></i>飲食日誌</a></li>
                            <li class="liThis"><a href="~/Member/OrderList" class="row"><i class="fa-solid fa-cart-shopping col-2"></i>訂單查詢</a></li>
                            <li><a href="~/Student/CandidateList" class="row"><i class="fa-solid fa-heart col-2"></i>候選教練</a></li>
                            <li><a href="~/Student/CourseList" class="row"><i class="fa-solid fa-dumbbell col-2"></i>課程列表</a></li>
                            <li><a href="~/Student/ViewCourseCalendar" class="row"><i class="fa-solid fa-calendar-day col-2"></i>課程行事曆</a></li>
                            <li><a href="~/Problem/CheckReply" class="row"><i class="fa-solid fa-comments col-2"></i>客服記錄</a></li>
                        </ul>
                    </div>
                    <a href="~/Coach/CreateResume" class="blog__btn"><span class="arrow_right"></span>教練專區</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @*※※※會員專區View內容請從此開始※※※*@
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table class="table" style="table-layout:fixed">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="margin-left:auto">
                                        @Html.DisplayNameFor(model => model.FOrderId)
                                    </th>
                                    <th style="margin-left:auto">
                                        @Html.DisplayNameFor(model => model.FDate)
                                    </th>
                                    <th style="margin-left:auto">
                                        @Html.DisplayNameFor(model => model.FContact)
                                    </th>
                                    <th class="col-lg-2" style="margin-left:auto">
                                        @Html.DisplayNameFor(model => model.FPaymentCategoryId)
                                    </th>
                                    <th style="margin-left:auto;width:20%">
                                        @Html.DisplayNameFor(model => model.FStatusNumber)
                                    </th>
                                    <th class="col-lg-2"></th>
                                </tr>
                            </thead>
                            <tbody id="ListPro">
                                @{

                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="margin-left: auto;text-align:center;">
                                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.FOrderId)" id="FOrderId" name="FOrderId" />
                                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.FMemberId)" id="FMemberId" name="FMemberId" />
                                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.FStatusNumber)" id="FStatusNumber" name="FStatusNumber" />
                                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.fstatus.FStatusNumber)" id="fstatus.FStatusNumber" name="fstatus.FStatusNumber" />
                                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.fPayment.FPaymentCategoryId)" id="fPayment.FPaymentCategoryId" name="fPayment.FPaymentCategoryId" />
                                                @Html.DisplayFor(modelItem => item.FOrderId)
                                            </td>
                                            <td style="margin-left: auto; text-align: center;">
                                                @Html.DisplayFor(modelItem => item.FDate)
                                            </td>
                                            <td style="margin-left: auto; text-align: center;" title=" @Html.DisplayFor(modelItem => item.FContact)">
                                                @item.FContact
                                            </td>
                                            <td style="margin-left: auto; text-align: center;">
                                                <input type="hidden" value="@Html.DisplayFor(modelItem => item.FPaymentCategoryId)" id="FPaymentCategoryId" name="FPaymentCategoryId" />
                                                @Html.DisplayFor(modelItem => item.fPayment.FPaymentCategory)
                                            </td>
                                            <td style="margin-left: auto; text-align: center;">
                                                @Html.DisplayFor(modelItem => item.fstatus.FStatus)
                                            </td>
                                            <td style="margin-left: auto; text-align: center;">
                                                @Html.ActionLink("訂單明細", "OrderdetailList", new { id = item.FOrderId },
                                                  new { @class = "btn btn-success" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div style="text-align:center">
                            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfPro, page => Url.Action("OrderList", new { page }))
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts{

}



